.section-cars {
  margin: 6rem 0;

  @media screen and (max-width: $lg) {
    margin: 3rem 0;
  }

  &--title {
    margin-bottom: 2.6rem;

    h2 {
      margin: 0;
    }
  }

  .grid {
    --card-min: 308px;
    --gap: 20px;
    display: grid;
    gap: var(--gap);
    grid-template-columns: repeat(auto-fit, minmax(var(--card-min), 1fr));
    justify-content: center;
    align-content: start;
    max-width: calc(4 * var(--card-min) + 3 * var(--gap));
    margin: 0 auto;
    width: 100%;
  }

  .cars-actions {
    text-align: center;
  }
}
