.cars {
  margin: 2rem auto;
}
.car-card {
  background: white;
  border-radius: 1rem;
  padding: 1rem 1.6rem;
  position: relative;
}
.single-link {
  position: absolute;
  inset: 0;
}
.car-title {
  font-weight: 900;
  margin-bottom: 0;
}
.car-class {
  color: $gray-500;
  font-weight: 700;
  margin-bottom: 30px;
}
.car-image {
  height: 11rem;
  max-width: 27.2rem;
  width: 100%;
}

.car-image img {
  object-fit: cover;
}
.car-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 30px;
}
.specs {
  display: flex;
  justify-content: space-between;
  color: $gray-500;
}
.price {
  display: flex;
  flex-direction: column;
}
.spec-icons {
  display: flex;
}
.price-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.discount-price {
  font-weight: bold;
  margin: 0;
  font-size: 1.8rem;
}
.old-price {
  text-decoration: line-through;
  font-weight: bold;
  color: $gray-500;
  margin: 0;
}
.rent-now-btn {
  padding: 8px 2rem;
  background-color: $primary;
  border-radius: 5px;
  border: none;
  color: white;
}
.gray-text {
  color: $gray-500;
}
