.cars {
  margin: 2rem auto;
}
.car-card {
  background: $background-secondary;
  border-radius: 1rem;
  padding: 1rem 1.6rem;
  position: relative;
  border: 1px solid rgba(255, 255, 255, 0.04);
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5),
    inset 0 1px 0 rgba(255, 255, 255, 0.05);
  width: 100%;
  max-width: 360px;
  justify-self: center;

  button {
    border: none;
  }
}
.single-link {
  position: absolute;
  inset: 0;
}
.car-title {
  font-weight: 900;
  margin-bottom: 0;
}
.car-class {
  font-weight: 700;
  margin-bottom: 30px;
  color: $text-primary;
}
.car-image {
  height: 11rem;
  max-width: 27.2rem;
  width: 100%;
}

.car-image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.car-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 30px;
}
.specs {
  display: flex;
  justify-content: space-between;
  margin-top: 3.7rem;
}
.price {
  display: flex;
  flex-direction: column;
}
.spec-icons {
  display: flex;
  align-items: center;
}

.spec-icons svg {
  width: 2.4rem;
  height: 2.4rem;
}

.spec-icons p {
  margin: 0 !important;
  font-weight: 500;
  color: $text-primary;
}
.price-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2.4rem;
}
.discount-price {
  font-weight: 700;
  margin: 0;
  font-size: 1.8rem;
  color: $text-primary;
}
.old-price {
  text-decoration: line-through;
  font-weight: bold;
  margin: 0;
  color: $text-secondary;
}
