/** Footer section */
footer.footer {
  .footer-logo {
    height: auto;
  }

  .links {
    .link {
      display: block;
      color: $text;
      padding-bottom: 0.3rem;
      font-size: 1rem;

      &:hover {
        color: $primary-hover;
      }
    }
  }

  .footer-body-section {
    margin-top: 0.6rem;

    .footer-body {
      border-top: 1px solid $border;

      .description {
        font-size: 1rem;
      }
    }
  }

  .copyright {
    border-top: 1px solid $border;
  }
}

#gform_wrapper_1 #gform_1 {
    display: flex;
    align-items: flex-start;
    gap: 8px;
    margin-bottom: 20px;
}

#gform_wrapper_1 #input_1_1 {
    max-width: 360px;
    width: 100%;
}

#gform_wrapper_1 .gform_body {
    max-width: 300px;
    width: 100%;
}

#gform_wrapper_1 .gform_footer,
#gform_wrapper_1 .gform_page_footer {
    margin-block-start: 0 !important;
}

.gform_description{
  display: none;
}


.newsletter-text{
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 0;
}
