/** Footer section */
footer.footer {
  .footer-logo {
    height: auto;
  }

  .links {
    .link {
      display: block;
      color: $text;
      padding-bottom: 0.3rem;
      font-size: 1rem;

      &:hover {
        color: $primary-hover;
      }
    }
  }

  .footer-body-section {
    margin-top: 0.6rem;

    .footer-body {
      border-top: 1px solid $border;

      .description {
        font-size: 1rem;
      }
    }
  }

  .copyright {
    border-top: 1px solid $border;
  }
}
