@import "../../assets/scss/theme/variables/block-index";
@import "../../assets/scss/theme/base/mixins";

.section-price-list {
  margin: 6rem 0;

  @media screen and (max-width: $lg) {
    margin: 3rem 0;
  }

  &--title {
    margin-bottom: 2.6rem;
    h2 {
      margin: 0;
    }
  }

  &--table {
    @media screen and (max-width: $md) {
      overflow-x: scroll;
    }
    table {
      border-collapse: collapse;
      table-layout: fixed;
      width: 100%;
      background: $background-secondary;
      overflow: hidden;
      border-radius: 1.2rem;
      border: 1px solid rgba(255, 255, 255, 0.04);
      box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5),
        inset 0 1px 0 rgba(255, 255, 255, 0.05);

      @media screen and (max-width: $md) {
        width: max-content;
        margin-bottom: 1.6rem;
      }

      tr:first-child th {
        border-bottom: 0;
      }

      th {
        color: $text-secondary;
        font-weight: 700;
      }

      th {
        font-weight: 500;
      }

      th,
      td {
        border: 1px solid $text-primary;
        padding: 0.8rem;
        text-align: center;
      }
    }
  }
}
