// Variables
@import "../../assets/scss/theme/variables/block-index";
@import "../../assets/scss/theme/base/mixins";

.faq-section-wrapper {
  padding: 0 !important;
  margin: 6rem 0;

  @media screen and (max-width: $lg) {
    margin: 3rem 0;
  }

  &--title {
    margin-bottom: 2.6rem;

    h2 {
      margin: 0;
    }
  }

  &--box {
    cursor: pointer;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border-radius: 1.2rem;
    margin-bottom: 2rem;

    &-item {
      background: $background-secondary;
      border: 1px solid rgba(255, 255, 255, 0.04);
      box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5),
        inset 0 1px 0 rgba(255, 255, 255, 0.05);
      border-radius: 1.2rem;

      .question {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2.4rem;

        h3 {
          margin: 0;
        }

        svg {
          flex-shrink: 0;
          transition: transform 0.25s ease;
        }
      }

      &.active {
        .answer {
          position: relative;
          opacity: 1;
          pointer-events: auto;
          visibility: visible;
          max-height: 1000px;
          padding-bottom: 2.4rem;
        }

        svg {
          transform: rotate(180deg);
          flex: none;
        }
      }
    }
  }

  .answer {
    position: relative;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: max-height 0.3s ease, opacity 0.25s ease, padding-top 0.25s ease;
    padding: 0rem 2.4rem;
    p {
      margin: 0;
      line-height: 1.5;
    }
  }
}
