.bottom-buttons {
  z-index: 5;
  position: fixed;
  right: 0.9rem;
  bottom: 0.9rem;
  width: 55px;
  height: auto;

  .bottom-button {
    position: relative;
    margin-top: 0.4rem;
    width: 55px;
    height: 55px;
    background: $background;
    color: $text;
    font-size: 1.4rem;
    border: 1px solid $border;
    border-radius: 50px;
    transition: all ease-in-out 480ms;

    &:hover {
      background: $primary;
      cursor: pointer;
    }
  }
}
