.social-media-links {
  gap: 1.2rem;
  .link {
    width: 3.5rem;
    height: 3.5rem;
    color: $text;
    transition: all ease-in-out 480ms;
    border-radius: 50px;
    border: 1px solid $border;
    padding: 1rem;

    .icon {
      width: 2.1rem;
      height: auto;

      path {
        fill: $text-primary;
      }
    }
  }
}
