// Variables
@import "../../assets/scss/theme/variables/block-index";
@import "../../assets/scss/theme/base/mixins";

.testimonials-section-wrapper {
  padding: 0 !important;
  margin: 6rem 0;
  @media screen and (max-width: $lg) {
    margin: 3rem 0;
  }

  &--box {
    background-color: $background-secondary;
    border-radius: 1.2rem;
    padding: 2.4rem;

    &-items {
      display: flex;
      gap: 2rem;
      margin-bottom: 2rem;
      position: relative;
      overflow: hidden;
      width: 100%;
      .testimonial {
        position: absolute;
        top: 0;
        width: 100%;
        transition: transform 240ms;

        & > div {
          max-width: 83rem;
          width: 100%;
          margin: 0 auto;
          text-align: center;
        }

        &.active {
          position: relative;
        }

        transition: transform 0.5s ease-out;
        p {
          margin: 0;
        }

        .description {
          margin: 2rem 0 2rem;
          font-weight: 500;
          p {
            line-height: 1.5;
          }
        }

        .user {
          display: flex;
          gap: 2rem;
          align-items: center;
          justify-content: center;
          font-weight: 600;
        }
      }
    }
  }

  .arrow {
    background-color: $primary;
    cursor: pointer;
    width: 6.1rem;
    height: 6.1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all ease-in-out 280ms;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    &:hover {
      background-color: $primary-hover;
    }

    &.btn-prev {
      left: -2.4rem;
    }

    &.btn-next {
      right: -2.4rem;
    }
  }
}
