// Variables
@import "../../assets/scss/theme/variables/block-index";
@import "../../assets/scss/theme/base/mixins";

.testimonials-section-wrapper {
  padding: 0 !important;
  margin: 6rem 0;

  @media screen and (max-width: $lg) {
    margin: 3rem 0;
  }

  &--title {
    margin-bottom: 2.6rem;

    h2 {
      margin: 0;
    }
  }

  &--box {
    overflow: visible;
    &-items {
      .slick-list {
        overflow: hidden;
        margin: 0;
      }

      .slick-track {
        display: flex;
        gap: 2rem;
      }

      .testimonial {
        height: 100%;

        @media screen and (max-width: 767px) {
          padding-left: 2.4rem;
          padding-right: 2.4rem;
        }
        .testimonial-wrapper {
          padding: 2.4rem;
          border-radius: 1.2rem;
          background: $background-secondary;
          border: 1px solid rgba(255, 255, 255, 0.04);
          box-shadow: 0 2rem 3rem -1.5rem rgba(0, 0, 0, 0.5),
            inset 0 1px 0 rgba(255, 255, 255, 0.05);

          p {
            margin: 0;
          }

          .description {
            margin: 2rem 0;
            font-weight: 500;

            p {
              line-height: 1.5;
            }
          }

          .user {
            font-weight: 600;
          }
        }
      }
    }
  }

  .arrow-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 2.6rem;
    .arrow {
      // position: absolute;
      // top: 50%;
      // transform: translateY(-50%);
      // z-index: 5;

      width: 5rem;
      height: 5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      background-color: $primary;
      transition: background-color 280ms ease;

      &:hover {
        background-color: $primary-hover;
      }

      // &.btn-prev {
      //   left: -2.4rem;
      // }

      // &.btn-next {
      //   right: -2.4rem;
      // }
    }
  }
}
