// Variables
@import "../../assets/scss/theme/variables/block-index";
@import "../../assets/scss/theme/base/mixins";

.hero-section-section-wrapper {
  padding-top: 7.5rem !important;
  height: calc(100vh - 75px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;

  h1 {
    text-transform: uppercase;
  }

  p {
    line-height: 1.5;
    letter-spacing: -0.32px;
    font-weight: 600;
    margin-bottom: 2rem;
  }

  .btn-forza {
    max-width: 17rem;
  }
}
