// Variables
@import "../../assets/scss/theme/variables/block-index";
@import "../../assets/scss/theme/base/mixins";

.form-section-wrapper {
  padding: 0 !important;
  margin: 6rem 0;

  @media screen and (max-width: $lg) {
    margin: 3rem 0;
  }

  &--title {
    margin-bottom: 2.6rem;

    h2 {
      margin: 0;
    }
  }

  .gform_wrapper {
    margin: 0 !important;
    padding-top: 7rem !important;
    padding-bottom: 7rem !important;
    border: 1px solid rgba(255, 255, 255, 0.04);
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5),
      inset 0 1px 0 rgba(255, 255, 255, 0.05);

    @media screen and (max-width: $lg) {
      margin: 3.5rem 0;
    }

    form {
      max-width: 70rem;
      margin: 0 auto;
    }
  }
}
