.btn-forza {
  color: $button-text;
  padding: 1rem 0;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -0.32px;
  max-width: 12rem;
  width: 100%;
  display: inline-block;
  text-align: center;
  border-radius: 4px;
  text-decoration: none !important;
  transition: all 240ms ease-in-out;

  &.primary {
    background-color: $primary;

    &:hover {
      background-color: $primary-hover;
    }
  }
}
