// Defaults
html,
body.forzarent {
  min-height: 100%;
  background: $background;
  color: $text-primary;
  font-size: $font-size;
  font-family: $text-font;
  font-weight: 500;
  line-height: $line-height-base;

  &.freez {
    overflow: hidden;
  }

  &.admin-bar {
    .navigation-section {
      top: 32px;
    }
  }

  &.menu-open {
    overflow: hidden;

    .navigation--items {
      transform: translateX(0);
      visibility: visible;
      pointer-events: auto;
      opacity: 1;
    }

    .hamburger {
      span:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
      }

      span:nth-child(2) {
        opacity: 0;
      }

      span:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
      }
    }
  }
}

hr {
  border-color: $text-secondary;
}

a {
  transition: color ease-in-out 240ms;
  text-decoration: none !important;
  color: $button-bg;
  cursor: pointer;
}

b,
strong {
  font-weight: $font-weight-bold;
}

// Container padding on mobile devices
@media only screen and (min-width: $xs) {
  .container {
    padding-right: 22px;
    padding-left: 22px;
  }
}

.z-index {
  z-index: 5;
}

::-webkit-scrollbar {
  width: 10px;
  border-radius: 0;
}

::-webkit-scrollbar-track {
  background: $background-secondary;
}

::-webkit-scrollbar-thumb {
  background: $border;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: $text-primary;
}

html {
  font-size: 62.5%;

  @media screen and (max-width: $sm) {
    font-size: 54.6876%;
  }
}

.animated {
  opacity: 0;
  transition: opacity 680ms ease-in-out, transform 680ms ease-in-out,
    -webkit-transform 680ms ease-in-out;

  &.left-to-right {
    transform: translateX(-20vw);
  }
  &.right-to-left {
    transform: translateX(20vw);
  }
  &.bottom-to-top {
    transform: translateY(-20vw);
  }
  &.top-to-bottom {
    transform: translateY(20vw);
  }
  &.in-view {
    opacity: 1;
    transform: translateX(0);
  }

  &.fade-in {
    opacity: 1;
    &:not(.in-view) {
      opacity: 0;
      transition: opacity 350ms ease-in-out;
    }
  }
}

.booked-date {
  background: #ff4d4d !important;
  color: #fff !important;
  position: relative;
}

.booked-date::after {
  content: "✕";
  position: absolute;
  top: 2px;
  right: 4px;
  font-size: 12px;
}
