// Defaults
html,
body.forzarent {
  height: 100vh;
  background: $background;
  color: $text-primary;
  font-size: $font-size;
  font-family: $text-font;
  font-weight: 500;
  line-height: $line-height-base;

  &.freez {
    overflow: hidden;
  }

  &.admin-bar {
    .navigation-section {
      top: 32px;
    }
  }
}

hr {
  border-color: $text-secondary;
}

a {
  transition: color ease-in-out 240ms;
  text-decoration: none !important;
  color: $primary;
  cursor: pointer;
}

b,
strong {
  font-weight: $font-weight-bold;
}

// Container padding on mobile devices
@media only screen and (min-width: $xs) {
  .container {
    padding-right: 22px;
    padding-left: 22px;
  }
}

.z-index {
  z-index: 5;
}

::-webkit-scrollbar {
  width: 10px;
  border-radius: 0;
}

::-webkit-scrollbar-track {
  background: $background;
}

::-webkit-scrollbar-thumb {
  background: $border;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: $text-primary;
}

html {
  font-size: 62.5%;
}
