.header {
  background-color: $white;
  .navigation {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &--logo {
      max-width: 31.5rem;
      width: 100%;

      img {
        width: 100%;
      }
    }

    &--items {
      padding-left: 4.8rem;
      ul {
        list-style: none;
        padding: 0;
        display: flex;
        margin: 0;
        gap: 2.2rem;

        li {
          padding: 3rem 0;
          transition: all 240ms ease-in-out;
          cursor: pointer;

          &::after {
            display: none;
            content: "";
            height: 100%;
            width: 6px;
            background-color: $primary;
            right: 0;
            top: 0;
            display: none;
            transition: all 240ms ease-in-out;
          }

          &.current-menu-item {
            &::after {
              display: block;
              display: none;
            }
          }

          &:hover {
            &::after {
              background-color: $primary-hover;
            }

            a {
              color: $primary-hover;
            }
          }

          a {
            text-decoration: none;
            font-size: 2rem;
            line-height: 1;
            font-weight: 600;
          }
        }
      }
    }
  }
}
