@import "../../assets/scss/theme/variables/block-index";
@import "../../assets/scss/theme/base/mixins";

.header {
  background-color: $background;
  border-bottom: 2px solid $primary-hover;
  position: sticky;
  z-index: 10;
  top: 0;

  .navigation {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3.2rem;
    &--logo {
      img {
        max-width: 160px;
        height: 48px;
      }

      @media (max-width: 1024px) {
        img {
          max-width: 130px;
          height: 42px;
        }
      }

      @media (max-width: 640px) {
        img {
          max-width: 110px;
          height: 36px;
        }
      }
    }

    &--items {
      padding-left: 4.8rem;
      ul {
        list-style: none;
        padding: 0;
        display: flex;
        margin: 0;
        gap: 2.2rem;

        li {
          padding: 3rem 0;
          transition: all 240ms ease-in-out;
          cursor: pointer;

          &.current-menu-item {
            position: relative;

            @media screen and (min-width: $lg) {
              &::after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                width: 0px;
                height: 0px;
                border-style: solid;
                border-width: 0 11px 19px 11px;
                border-color: transparent transparent $primary-hover transparent;
              }
              a {
                color: $primary-hover;
              }
            }
          }

          &:hover {
            a {
              color: $primary-hover;
            }
          }

          a {
            font-size: 2rem;
            line-height: 1;
            font-weight: 600;
          }
        }
      }
    }
  }
}
