.sidebar {
  display: flex;
  .navigation {
    background-color: $white;
    max-width: 32rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    height: auto;
    z-index: 10;
    &--logo {
      max-width: 31.5rem;
      width: 100%;

      img {
        width: 100%;
      }
    }

    &--items {
      padding-left: 4.8rem;
      ul {
        list-style: none;
        padding: 0;
        display: flex;
        flex-direction: column;
        margin: 0;
        gap: 2.2rem;

        li {
          padding: 3rem 0;
          position: relative;
          transition: all 240ms ease-in-out;
          cursor: pointer;

          &::after {
            content: "";
            position: absolute;
            height: 100%;
            width: 6px;
            background-color: $primary;
            right: 0;
            top: 0;
            display: none;
            transition: all 240ms ease-in-out;
          }

          &.current-menu-item {
            &::after {
              display: block;
            }
          }

          &:hover {
            &::after {
              background-color: $primary-hover;
            }

            a {
              color: $primary-hover;
            }
          }

          a {
            text-decoration: none;
            font-size: 2rem;
            line-height: 1;
            font-weight: 600;
          }
        }
      }
    }
  }

  .blocks {
    width: 100%;
    padding: 0 2.4rem;
  }
}
