// Static theme colors
$background-primary: #0a0a0a;
$background-secondary: #1a1a1a;
$border-color: #2a2a2a;
$header-background: #121821;

// Text Colors
$text-primary: #aaa;
$text-secondary: #d9dfe9;

// Accent (Logo/CTA/Links)
$primary: #e6ff00;
$primary-hover: #c8e600;
$link-color: $primary;
$link-hover: #eeff66;

// Button Colors
$button-bg: $primary;
$button-hover: $primary-hover;
$button-text: $background-primary;

// Theme colors
$gold: #f4ad17;
$success: #3acc6c;
$danger: #dd5555;
$info: #54a6ff;

// Grayscales
$white: #fff;
$gray-100: #f6f7f9;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-600: #596780;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #1a202c;
// Gradient
$gradient-100: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #fff 100%);

// Basics
$light: #f9f9f9;
$background: $background-primary;
$title: $text-secondary;
$text: #36334a;
$border: #e9ecef;
$gray: #343a40;

// Other values
$shadow-opacity: 0.045;
