// Static theme colors
$background-primary: #211c21;
$background-secondary: linear-gradient(180deg, #323132 0%, #272127 100%);
$border-color: #2a2a2a;
$header-background: #1d181d;

// Text Colors
$text-primary: #b6b0b6;
$text-secondary: #f1eff0;

// Accent (Logo/CTA/Links)
$primary: #af1c1f;
$primary-hover: #c42e31;
$link-color: $primary;
$link-hover: #c42e31;

// Button Colors
$button-bg: $primary;
$button-hover: $primary-hover;
$button-text: $text-secondary;

// Theme colors
$gold: #f4ad17;
$success: #3acc6c;
$danger: #dd5555;
$info: #54a6ff;

// Grayscales
$white: #fff;
$gray-100: #f6f7f9;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-600: #596780;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #1a202c;
// Gradient
$gradient-100: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #fff 100%);

// Basics
$light: #f9f9f9;
$background: $background-primary;
$title: $text-secondary;
$text: #36334a;
$border: #e9ecef;
$gray: #343a40;

// Other values
$shadow-opacity: 0.045;
