// Variables
@import "../../assets/scss/theme/variables/block-index";
@import "../../assets/scss/theme/base/mixins";

.hero-global-section-wrapper {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    height: calc(100vh - 104px);
    padding: 0 !important;
}

.hero-global-section-wrapper::after {
    content: "";
    inset: 0;
    position: absolute;
    background-color: rgb(50, 50, 50);
    opacity: 0.4;
}

.hero-global-section-wrapper .container h1 {
    font-size: 30px;
    color: white;
    margin-bottom: 0;
    font-weight: 900;
    display: inline;
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(14px);
    border-radius: 12px;
    padding: 0 18px;
    line-height: 1.5;
    white-space: pre-line;
    margin-bottom: 20px;
}

.hero-global-section-wrapper .container h2 {
    color: white;
    display: inline;
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(14px);
    border-radius: 12px;
    padding: 0 18px;
    line-height: 1.5;
    white-space: pre-line;
    max-width: 545px;
}

.services-title{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    align-content: flex-start;
    height: calc(100vh - 104px);
}