// Variables
@import "../../assets/scss/theme/variables/block-index";
@import "../../assets/scss/theme/base/mixins";
@import "../../assets/scss/theme/base/animations";

.sponsors-section-wrapper {
  margin: 6rem 0;
  padding: 0 !important;

  @media screen and (max-width: $lg) {
    margin: 3rem 0;
  }

  &--title {
    margin-bottom: 2.6rem;

    h2 {
      margin: 0;
    }
  }

  .sponsors-marquee {
    overflow: hidden;
    width: 100%;
    padding: 2.4rem;
    background: $background-secondary;
    border-radius: 1.2rem;
    border: 1px solid rgba(255, 255, 255, 0.04);
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5),
      inset 0 1px 0 rgba(255, 255, 255, 0.05);

    .track {
      display: flex;
      width: max-content;
      animation: marquee 16s linear infinite;
    }

    .item {
      flex: 0 0 auto;
      margin: 0 6px;
    }

    img {
      display: block;
      width: 25rem;
      height: auto;
      height: 9.2rem;
      object-fit: cover;
    }
  }
}
